body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-box {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  min-height: 400px;
  height: auto;
  width: 820px;
  box-shadow: 1px 4px 30px 9px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: inline-block;
}

h2 {
  margin-bottom: 20px;
  color: #B82727;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #B82727;
}

input[type="text"],
textarea {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

textarea {
  font-family: Arial, sans-serif;
  height: 80px;
}

.btn-group {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

button {
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  color: #B82727;
  float: right;
}

/* Estilo do botão */
.btn-video {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #B82727;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; /* Adiciona espaço entre botão e imagens */
}

.btn-video input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Container para os previews */
#preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.3s ease;
}

.preview-item {
  position: relative;
  width: 180px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.preview-item:hover {
  transform: scale(1.05);
}

.preview-item img,
.preview-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ccc;
}


.preview-item span {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  color: #333;
}


.delete-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color:transparent;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 34px;
  height: 34px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-publicar {
  background-color: #B82727;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;

  float: right; /* fica no cantinho direito */
  transition: background-color 0.3s ease;
}

.btn-publicar:hover {
  background-color: #B82727;
}





  
  
  