@charset "UTF-8";

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container{
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #cecece;
    overflow: hidden;
}

.form-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    padding: 78px 0;
}

.form-login{
    background-color: white;
}

.form-cadastro{
    background-color:white;
}

.form-title{
    font-size: 3rem;
    margin-bottom: 42px;
    font-family: 'Joan', sans-serif;
    font-weight: 300; 
    color: #B82727;
    
}
.form-title2{
    font-size: 3rem;
    margin-bottom: 42px;
    font-family: 'Joan', sans-serif;
    font-weight: 300; 
    color:white;
    
}

.form-input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 22px;

}

.form-input-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

}

.form-input{
    width: 315px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #D3D3D3;
}

.form-button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid #B82727;
    background-color: transparent;
    color:#B82727; 
    font-size: 1rem ;
    cursor: pointer;
    transition: .7s;
}

.form-button:hover {
    background-color: #B82727; 
    color: white;               
}
.form-button-light{
    border: 2px solid #D3D3D3;
    color:#D3D3D3;
}

.form-button-light:hover {
    background-color: white; 
    color: #B82727;               
}

.form-text{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Joan', sans-serif;
    text-decoration: none;
    color:  #D3D3D3;
}

.link-color{
    color:#B82727;
}
